{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <title>Movies</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{% static 'css/shared.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/register.css' %}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        
        <div class="topnav">
            <div class="homepage">
                <a href="/"><button id="movies-icon"><i class="fa fa-film"></i></button></a>
                <a id="app-name" href="/">Movie Recommendation App</a>
            </div>
            <div class="user">
                {% if user.is_authenticated %}
                <p>Welcome <a href ="/user/{{ user.id }}">{{ user }}</a>! <a href="/logout">logout</a></p>
                {% else %}
                <p>Login <a href="/login">here</a></p>
                {% endif %}
            </div>
        </div>
            {% block title %}

            {% endblock %}
            {% block content %}
    
            {% endblock %}
    </body>
</html>