{% extends "../register/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %} 
{% block content %}
<link href="{% static 'css/register.css' %}" rel="stylesheet" type="text/css" />
<div class="register-base">
    <div class="register">
        <h3>{% translate 'create-account' %}</h3>
        <form method = "POST" class="form-group">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">{% translate 'register' %}</button>
        </form>
    </div>
</div>

{% endblock %}