{% extends "../register/base.html" %}
{% load static %}


{% block content %}
<link href="{% static 'css/register.css' %}" rel="stylesheet" type="text/css" />
<div class="watchlist">
    <script src="{% static 'js/watchlist.js' %}"></script>
    <link href="{% static 'css/watchlist.css' %}" rel="stylesheet" type="text/css" />
    <div class="watchlist-content" id="watchlist-content">
        <div class="watchlist-user">
            <h3 class="username" id="username"></h3> 
        </div>
        <!-- <div class="search-item">
            <div class="item-poster">
                <a href="/details/4935" title="Movie Title">
                    <img loading="lazy" class="poster" src="../../media/posters/65_p.jpg">
                </a>
            </div>
            <div class="item-data">
                <a class="item-title" href="/details/4935" title="Movie Title">
                    <bdi>Movie Title (2010)</bdi>
                </a>
                <a class="item-overview">
                    <bdi>Chihiro jest kapryśną, upartą dziesięcioletnią dziewczynką, która uważa, że cały świat powinien spełniać jej zachcianki. Gdy rodzice oznajmiają jej, że trzeba będzie wyprowadzić się z domu, Chihiro jest z tego powodu zła i nie myśli tego ukrywać. Zabrnąwszy w</bdi>
                </a>
            </div>
        </div> -->
    </div>
</div>
{% endblock %}