{% extends "../register/base.html" %}
{% load static %}


{% block content %}
<div class="user-profile">
    <script src="{% static 'js/user.js' %}"></script>
    <div class="user-content">
        <div class="user-info">
            <h3 class="username" id="username"><!--Username--></h3> 
            <p class="date-joined" id="date-joined"><!--Member since June 2017--></p>
        </div>
        <div class="user-scroller-top" id="user-ratings">
            <!-- <h3>Your Ratings</h3>
            <div class="user-scroller">
                <div class="scroller" id="scroller">
                    <div class="scroller-item">
                        <div class="image_content">
                            <a href="/details/4935" title="Movie Title">
                                <img loading="lazy" class="poster" src="../../media/posters/65_p.jpg">
                            </a>
                        </div>
                        <p class="movie-flex">
                            <a class="title" href="/details/4935" title="Movie Title Too Lon...">
                                <bdi>Movie Title Too Lo...</bdi>
                            </a>
                            <span class="rating"><a><i class="fa fa-star"></i> </a>9</span>
                        </p>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="user-scroller-top" id="recommended-user">
            <!-- <h3>Recommended for You</h3>
            <div class="user-scroller">
                <div class="scroller" id="scroller">
                    <div class="scroller-item">
                        <div class="image_content">
                            <a href="/details/4935" title="Movie Title">
                                <img loading="lazy" class="poster" src="../../media/posters/65_p.jpg">
                            </a>
                        </div>
                        <p class="movie-flex">
                            <a class="title" href="/details/4935" title="Movie Title Too Lon...">
                                <bdi>Movie Title Too Lo...</bdi>
                            </a>
                            <span class="rating"><a><i class="fa fa-star"></i> </a>9</span>
                        </p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>



{% endblock %}