@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    box-sizing:border-box;
}

:root{
    --primary-color:rgb(22, 22, 22);
    --secondary-color:rgb(44,44,44);
    --third-color: rgb(11,11,11);
    --scrollerGray: 66,66,66;
    --maxPrimaryPageWidth: 1400px;
    --primaryFontColor: #ffffff;
}

body 
{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color:var(--primary-color);
    color:var(--primaryFontColor);
}

.topnav
{
    overflow: hidden;
    background-color: #414141;
    display: flex;
    justify-content: space-between;
}

.topnav .homepage{
    display: flex;
    flex-direction: row;
}

.topnav input[type=text] 
{
    padding: 6px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 17px;
    border: none;
    border-radius: 10px;
}

.topnav #app-name{
    text-decoration: none;
    color: var(--primaryFontColor);
    font-size: 35px;
    font-weight: bold;
    margin-top: 4px;
}

.search button
{
    padding: 6px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.topnav .search button:hover 
{
    background: #ccc;
}

.topnav #movies-icon{
    /* padding: 6px 10px; */
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 10px;
    margin-left: 16px;
    background: transparent;
    font-size: 28px;
    border: none;
    cursor: pointer;
    color:var(--primaryFontColor);
}

h2{
    font-size: 30px;
}

#current-list{
    align-self: center;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

#list-movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0, 0,0,0.1);
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden
}

.movie img 
{
    width: 100%;  
    cursor: pointer; 
}

.movie-info{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
    margin-top: 0;
}

.movie-info .hidden-id{
    visibility: hidden;
}

.movie-info span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.overview{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    background-color:lightgray;
    padding: 1rem;
    max-height: 100%;
    transform:translateY(101%);
    transition:transform 0.3s ease-in;
    color:var(--primary-color);
}

.movie:hover .overview{
    transform:translateY(0);
}

.movie-details-back{
    position: relative;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid var(--primary-color);
    background-size: cover;
    background-repeat: no-repeat;
}

.movie-details-back-bg{
    background-image: linear-gradient(to right, rgba(11,11,11), rgba(7, 7, 7, 0.84) 100%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.movie-details{
    max-width: var(--maxPrimaryPageWidth);
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
}

.movie-details-poster img{
    width:300px;
}

.movie-details-info{
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    box-sizing: border-box;
}

.movie-details-info .title{
    width: 100%;
    margin-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.movie-details-info .title h2{
    margin: 0;
    padding: 0;
    font-size: 2.2rem;
    font-weight: 700;
    padding-right: 10px;
}

.movie-details-info .title span.release_date{
    font-size: 2.2rem;
    opacity: 0.8;
    font-weight: 400;
}

.movie-details-info .title .genres{
    display: flex;
}

.movie-details-info #rating{
    background-color: var(--primary-color);
    padding: 1.25rem 1.5rem;
    font-size: 1.8rem;
    border-radius: 15px;
    font-weight: bold;
}

span.green{
    color: lightgreen;
}

span.orange{
    color:orange;
}

span.red{
    color:red;
}

.movie-content{
    max-width: var(--maxPrimaryPageWidth);
    width: 100%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    align-self: center;
}

section.keywords ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
    padding-inline-start: 0px;
}

section.genres ul li, section.keywords ul li {
    margin-right: 5px;
    margin-bottom: 10px;
    line-height: 24px;
    font-size: 0.9em;
    box-sizing: border-box;
    white-space: nowrap;
}

section.keywords ul li a {
    background-color: #e5e5e5;
    border: 1px solid #d7d7d7;
    color: #000;
    padding: 4px 10px;
    border-radius: 4px;
}


.movie-content ul {
    list-style-type: none;
}

#recommendations-scroller{
    max-width: var(--maxPrimaryPageWidth);

}

div.scroller{
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
}

div.scroller-item{
    background-color: var(--third-color);
    border-radius: 10px; 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right:12px;
}

div.image_content img{
    top: 0;
    left: 0;
    width: 250px;
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
}

div.movie-content a{
    color: var(--primaryFontColor);
    text-decoration: none;
}

div.movie-content a.title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    padding-right: 20px;
}

p.movie-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}

div.scroller::-webkit-scrollbar {
    height: 12px;
    width: 8px;
}

div.scroller::-webkit-scrollbar-track {
    background: transparent;
}

div.scroller::-webkit-scrollbar-thumb {
    background-color: rgba(var(--scrollerGray),1);
    border-radius: 20px;
}

