.welcome{
    width: 100%;
    justify-content: center;
    margin-top: 10px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#current-list{
    align-self: center;
}

#list-movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0, 0,0,0.1);
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden
}

.movie img 
{
    width: 100%;  
    cursor: pointer; 
}

.movie-info{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
    margin-top: 0;
}

.movie-info .hidden-id{
    visibility: hidden;
}

.movie-info span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.overview{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    background-color:lightgray;
    padding: 1rem;
    max-height: 100%;
    transform:translateY(101%);
    transition:transform 0.3s ease-in;
    color:var(--primary-color);
}

.movie:hover .overview{
    transform:translateY(0);
}
