@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    box-sizing:border-box;
}

:root{
    --primary-color:rgb(22, 22, 22);
    --secondary-color:rgb(44,44,44);
    --third-color: rgb(11,11,11);
    --darkest-color: rgb(5,5,5);
    --out-color: rgb(16,16,16);
    --scrollerGray: rgb(55,55,55);
    --maxPrimaryPageWidth: 1400px;
    --maxPrimaryPageWidthMinusPad: 1340px;
    --primaryFontColor: #ffffff;
    --effectColor: rgb(192, 235, 0);
    --hoverColor: rgb(66,66,66);
}

body 
{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color:var(--out-color);
    color:var(--primaryFontColor);
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

h2{
    font-size: 30px;
}

body a{
    text-decoration: none;
    color: var(--primaryFontColor);
}

span.green{
    color: lightgreen;
}

span.orange{
    color:orange;
}

span.red{
    color:red;
}

.topnav
{
    /* overflow: hidden; */
    background-color: var(--darkest-color);
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}

.topnav .homepage{
    display: flex;
    flex-direction: row;
}

div.homepage{
    background-color: var(--primary-color);
    border:none;
    border-radius: 7px;
    margin-left: 12px;
}

.homepage-btn{
    background: var(--primary-color);
    color: var(--primaryFontColor);
    padding: 14px;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

div.user, div.user-dropdown{
    margin-right: 12px;
}

#search-input{
    height: 35px;
    width: 500px;
    border: none;
    font-size: 1.1em;
    border-radius: 7px;
    padding: 6px;
    margin-top: 8px;
    margin-bottom: 8px;
}




.user{
    margin-right: 20px;
    overflow: hidden;
}

.user p, .user a{
    font-weight: 600;
    text-decoration: none;
    color: var(--primaryFontColor);
}

.search button
{
    padding: 8px 10px;
    margin-left: 6px;
    margin-bottom: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.search button:hover 
{
    background: #ccc;
}

.btn-switch{
    padding: 15px 30px;
    margin-bottom: 8px;
    margin-right: 16px;
    background: var(--secondary-color);
    color: var(--primaryFontColor);
    font-weight: 600;
    font-size: 22px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}


/* Style The Dropdown Button */
.user-dropdown-btn, .login-btn{
    background: var(--primary-color);
    color: var(--primaryFontColor);
    padding: 16px;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .user-dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .user-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--primary-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .user-dropdown-content a {
    color: var(--primaryFontColor);
    font-weight: 600;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .user-dropdown-content a:hover {background-color: var(--hoverColor);}
  
  /* Show the dropdown menu on hover */
  .user-dropdown:hover .user-dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .user-dropdown:hover .user-dropdown-btn, .login-btn:hover, .homepage-btn:hover, .btn-switch:hover{
    background-color: var(--hoverColor);
  }