{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <title>Movies</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{% static 'css/shared.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/select.css' %}" rel="stylesheet" type="text/css" />
        <script src="{% static 'js/search_button.js' %}"></script>
    </head>
    <body>
        <div class="topnav">
            <div class="homepage">
                <button class="homepage-btn" onclick="location.href='/'" type="button"><i class="fa fa-film"></i> Movie Recommendation App</button>
            </div>
            <div class="search">
                <div class="search-dropdown">
                    <button class="search-dropdown-btn" id="search-dropdown-btn"></button>
                    <div id="search-dropdown" class="search-dropdown-content">
                      <a id="drop-title">Title</a>
                      <a id="drop-keyword">Keyword</a>
                      <a id="drop-director">Director</a>
                    </div>
                </div>
                <form id="form-search" method="post">
                    {% csrf_token %}
                    <input id="search-input" type="text" placeholder="Search..."><button id="search-submit" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            {% if user.is_authenticated %}
            <div class="user-dropdown">
                <button class="user-dropdown-btn"><i class="fa fa-user"></i> {{ user }} <i class="fa fa-caret-down"></i></button>
                <div class="user-dropdown-content">
                    <a href="/user/{{ user.id }}">Your Activity</a>
                    <a href="/user/{{ user.id }}/ratings">Your Ratings</a>
                    <a href="/user/{{ user.id }}/watchlist">Your Watchlist</a>
                    <a href="/user/{{ user.id }}/lists">Your Lists</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
            {% else %}
            <div class="user">
                <button class="login-btn" onclick="location.href='/login'" type="button">Sign In</button>
            </div>
            {% endif %}

        </div>
            {% block title %}

            {% endblock %}
            {% block content %}
    
            {% endblock %}
    </body>
    {% if user.is_authenticated %}
    <div id="user_id" class="user_id_hidden">{{ user.id }}</div>
    {% endif %}
</html>