{% extends "../movie/base.html" %}
{% load static %}
{% block content %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'js/scripts.js' %}"></script>
    <div class="welcome">
        <div class="buttons">
            <button class="btn-switch" id="btn_popular">Most Popular</button>
            <button class="btn-switch" id="btn_top">Top Rated</button>
        </div>
    </div>  
    <main id="main">
        <h2 id="current-list">Current List</h2>
        <div id="list-movies">
        </div>
        <div class="buttons">
            <button class="btn-switch" id="btn-load-more">Load more</button>
        </div>
    </main>
{% endblock %}